@import "../../styles/breakpoints.scss";

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    @include for-small {
      max-width: 328px;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &__form-position {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 29px 0 0 0;
    padding: 0;
  }

  &__form-position :hover {
    cursor: pointer;
  }

  .feedback__form-position > label {
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
  }

  .feedback__form-position > label {
    margin-top: 7px;
  }

  .feedback__form > input:nth-child(1) {
    margin-top: 0;
  }

  &__form-input {
    width: 380px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #d0cfcf;
    margin-top: 50px;

    @include for-small {
      max-width: 328px;
    }
  }

  &__form-input-text {
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
    color: #7e7e7e;
  }

  &__form-position-title {
    width: 380px;
    height: 25px;
    margin-bottom: 4px;

    @include for-small {
      max-width: 328px;
    }
  }

  &__load-container {
    display: flex;
    border-radius: 4px;
    width: 380px;
    height: 54px;
    margin-top: 47px;
    padding: 0;

    @include for-small {
      max-width: 328px;
    }
  }

  &__action-btn {
    margin-bottom: 100px;
  }
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
}

.upload-button {
  display: flex;
  width: 380px;
  cursor: pointer;

  @include for-small {
    max-width: 328px;
  }
}

.button-text {
  width: 83px;
  height: 54px;
  border: 1px solid #000000de;
  border-radius: 4px 0px 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 26px;
}

.label-text {
  color: #7e7e7e;
  border: 1px solid #d0cfcf;
  border-left: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 297px;
  padding: 12px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feedback__form-input.error {
  border: 1px solid #ff0000;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.feedback__form-position.error {
  border: 1px solid #ff0000;
  border-radius: 4px;
  padding: 5px;
}

.feedback__form-position-title.error {
  color: red;
}

.button-text.error,
.label-text.error {
  border: 1px solid #ff0000;
  border-radius: 4px;
  padding: 10px;
}

.upload-button.error {
  background-color: #ff0000;
}
